# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz


/dist
parking-back.zip
functions.js
handler.js
types.js
dynamodbClient.zip
databaseFunctions.js
dynamodbClient.js
app.js
.env
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore